@import url('https://fonts.googleapis.com/css2?family=Battambang&display=swap');

body,
code {
    font-family: system-ui, -apple-system, 'Battambang', "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
code{
    font-weight: bold;
}

.card-body-custom {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
}

.word-list {
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

.word-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.word-list ul li {
    margin: 10px 0px;
}

.word-list ul li a {
    text-decoration: none;
    cursor: pointer;
}

.card-full-screen {
    height: calc(100vh - 145px);
}

.card-full-screen-207 {
    height: calc(100vh - 209px);
}

.center {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.card-footer a {
    text-decoration: none;
}

.inline-2 {
    line-height: 2;
}

.color-purple {
    color: #6f42c1;
}

.mobile-show {
    display: none;
}

.telegram:hover {
    color: #229ED9;
}

.icon {
    cursor: pointer;
}

/* .scroll-y {
    overflow-y: scroll;
} */
/* .navbar-toggler:focus{

} */
@media screen and (max-width:767px) {
    .mh-50 {
        height: calc(50vh - 80px);

    }

    .scroll-y {
        overflow-y: scroll;
    }

    .m-border-top {
        border-top: 1px solid #c3c3c3b5;
        border-radius: 0 !important;
    }
}