.card-body-custom {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flex {
    display: flex;
}

.word-list {
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

.word-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.word-list ul li {
    margin: 10px 0px;
}

.word-list ul li a {
    text-decoration: none;
    cursor: pointer;
}

.card-full-screen {
    height: calc(100vh - 160px);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.inline-2{
    line-height: 2;
}
.color-purple{
    color: #6f42c1;
}